# Laravel
/vendor
.env
.env.*
/storage/*.key
/public/storage
/public/build
/public/hot

# Frontend
/node_modules
/frontend/node_modules
/dist
dist-ssr

# Logs & OS
*.log
Thumbs.db
.DS_Store

# Editors
.vscode
.idea
